<h2>Departments</h2>
@Html.Partial("_Menu.cshtml")
<h3>Current average salary per department</h3>
<table class="table">
    <thead>
    <tr><th>Code</th><th>Name</th><th>Average salary</th></tr>
    </thead>
    <tbody>
    @foreach (var department in @Model.Departments)
    {
        <tr><td>@department.Code</td><td>@department.Name</td><td>@department.AverageSalary</td></tr>
    }
    </tbody>
</table>